@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
    text-align: center;
    font-family: Roboto, sans-serif;
}

.center {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.bottom_pannel {
    margin-top: 56px;
    margin-bottom: 50px;
    width: 100%;
    height: 90%;
    position: fixed;
    bottom: 100px;
}

.infoBox th {
     font-size: 16px!important;
     color: #3498db !important;
 }
.infoBox td {
    font-size: 16px!important;
}
