.entities {
    line-height: 2;
}

[data-entity] {
    padding: 0.25em 0.35em;
    margin: 0px 0.25em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="problem"] {
    background: rgba(244,67,54,0.2);
    border-color: rgb(244,67,54);
}

[data-entity][data-entity="problem"]::after {
    background: rgb(244,67,54);
}

[data-entity][data-entity="medication"] {
    background: rgba(60,179,113, 0.2);
    border-color: rgb(60,179,113);
}

[data-entity][data-entity="medication"]::after {
    background: rgb(60,179,113);
}

[data-entity][data-entity="bodyParts"] {
    background: rgba(255,160,122, 0.2);
    border-color: rgb(255,160,122);
}

[data-entity][data-entity="bodyParts"]::after {
    background: rgb(255,160,122);
}

[data-entity][data-entity="procedure"] {
    background: rgba(106,90,205, 0.2);
    border-color: rgb(106,90,205);
}

[data-entity][data-entity="procedure"]::after {
    background: rgb(106,90,205);
}

[data-entity][data-entity="negation"] {
    background: rgba(255,61,0, 0.2);
    border-color: rgb(255,61,0);
}

[data-entity][data-entity="negation"]::after {
    background: rgb(255,61,0);
}

[data-entity][data-entity="tests"] {
    background: rgba(253, 151, 32, 0.2);
    border-color: rgb(253, 151, 32);
}

[data-entity][data-entity="tests"]::after {
    background: rgb(253, 151, 32);
}

[data-entity][data-entity="bodyparts"] {
    background: rgba(142, 125, 255, 0.2);
    border-color: rgb(142, 125, 255);
}

[data-entity][data-entity="bodyparts"]::after {
    background: rgb(142, 125, 255);
}

[data-entity][data-entity="datetime"] {
    background: rgba(255,182,193, 0.2);
    border-color: rgb(255,182,193);
}

[data-entity][data-entity="datetime"]::after {
    background: rgb(255,182,193);
}

[data-entity][data-entity="severity"] {
    background: rgba(220,20,60, 0.2);
    border-color: rgb(220,20,60);
}

[data-entity][data-entity="severity"]::after {
    background: rgb(220,20,60);
}

[data-entity][data-entity="person"]{
    background: rgb(220,20,60);
}