

#timeline {

  height: 100%;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

div.vis-configuration.vis-config-button.hover{
    background-color: #4588e6;
    border:2px solid #214373;
    color:#758D96;
}


 .vis-item .vis-item-overflow {
  overflow: visible;
}

 .vis-item {
    font-family: 'Titillium Web';
    box-sizing: border-box;
    font-size: 0.6em;
    line-height: 1;
    padding: 0.5em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}
 
 

 .vis-item.color_problem {
      background-color: rgba(244,67,54,0.2);
      border-color:  rgb(244,67,54);
    }
 

 .vis-item.color_bodyparts {
      background-color: rgba(255,160,122, 0.2);
      border-color: rgb(255,160,122);
    }

 
 .vis-item.color_medication {
      background-color: rgba(60,179,113, 0.2);
      border-color: rgb(60,179,113);
    }


 .vis-item.color_severity {
      background-color: rgba(220,20,66, 0.2);
      border-color: rgb(220,20,60);
    }


 .vis-item.color_datetime {
      background-color: rgba(255,182,193, 0.2);
      border-color: rgb(255,182,193);
    }

 .vis-item.color_procedure {
      background-color:  rgba(106,90,205, 0.2);
      border-color:  rgb(106,90,205);
    }

 .vis-item.color_negation {
      background-color: rgba(255,61,0, 0.2);
      border-color: rgb(255,61,0);
    }


 .vis-item.color_tests {
      background-color: rgba(253, 151, 32, 0.2);
      border-color: rgb(253, 151, 32);
    }



